@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000000;
  font-family: 'Pretendard', sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}